body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('/static/images/visitbg.jpg')0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    opacity: 0;
}

.text {
    position: absolute;
    top: 26.5%;
    left: 7.34%;
    color: #fff;
    font-size: 14px;
}

.text>span {
    color: #ffe100;
}

img.trend {
    position: absolute;
    top: 39.58%;
    left: 6.25%;
    width: 87.03%;
    height: 29.86%;
    background: transparent;
}

.avatar {
    position: absolute;
    top: 76.5%;
    left: 9%;
    height: 8%;
    background-color: #ffdc2d;
    border-radius: 50px;
    border: 2px solid #ffdc2d;
    background-size: 100% 100%;
}

.info {
    position: absolute;
    top: 77%;
    left: 30%;
    height: 7.3%;
    width: 62%;
    border: 0px;
    padding: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    color: #4b3b30;
    font-size: 14px;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
    overflow: scroll;
}

button.predict {
    position: absolute;
    top: 88.6%;
    left: 5.78%;
    height: 6.94%;
    width: 87.3%;
    border: 0px;
    padding: 0px;
    border-radius: 10px;
    background: #ffe100;
    color: #780000;
    font-size: 20px;
    font-weight: 800;
    outline: none;
}
button.predict:active, button.predict:focus {
    outline: none;
    border: 0px;
    -webkit-filter: grayscale(50%);
}

#avatarData {
    display: none;
}

@media (max-width: 380px){
    .text {
        font-size: 12px;
    }
}

@media (max-height: 600px){
    button.predict{
        font-size: 18px;
    }
}
