<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>神笔马良画股市</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/visit.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
          var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?80d3cf4ad7485c54da12863827ddfd7a";
              var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div class="bg">
        <img class="logo" src="{{ STATIC_URL }}images/logo.png" />
        <div class="text">
            <span>{{ username }}</span> 预测了<span>{{ createon|date:"n月j日" }}</span>的大盘走势：
        </div>
        {% if dataURL %}
            <img class="trend" src='{{ dataURL }}'/>
        {% endif %}
        <div class="avatar"></div>
        <div class="info">
        {% if info %}
        {{ info }}
        {% else %}
        听哥的，大盘绝对这样走！
        {% endif %}
        </div>
        <button class="predict">我也来预测</button>
    </div>
    <div id="avatarData">{{ avatar }}</div>
<script type="text/javascript" src="{{ STATIC_URL }}script/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script/weixinshare.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script/visit.js"></script>
</body>
</html>
